.avia-section.av-3prd5n-244bee55a6063a3301682e1270c687a2{
background-color:#000000;
background-image:url(../images/10-Neergaard-Hairdesign-Billeder-17.jpg);
background-repeat:no-repeat;
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-3prd5n-244bee55a6063a3301682e1270c687a2 .av-section-color-overlay{
opacity:0.5;
background-color:#2b2b2b;
}

#top .hr.hr-invisible.av-3k5wub-105cf6b16b19011df0604b95d8f4d91b{
height:150px;
}

#top .av-special-heading.av-3h06pf-dab0fdc54de0e3ad1fd362ae698a1b34{
padding-bottom:0;
color:#ffffff;
font-size:70px;
}
body .av-special-heading.av-3h06pf-dab0fdc54de0e3ad1fd362ae698a1b34 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-3h06pf-dab0fdc54de0e3ad1fd362ae698a1b34 .av-special-heading-tag{
font-size:70px;
}
.av-special-heading.av-3h06pf-dab0fdc54de0e3ad1fd362ae698a1b34 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-3h06pf-dab0fdc54de0e3ad1fd362ae698a1b34 .av-subheading{
font-size:22px;
}

#top .hr.hr-invisible.av-3aozoz-cc9e99bafe2176634a84d23a47fca53d{
height:15px;
}

#top #wrap_all .avia-button.av-2wuarf-7c2645ae2d003249d1b242575c7b89a2{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-2qpd23-c29fdfb9818a0c2394691371b359ad29{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-2ga3sr-c699a8c28f7cd0f38f475dbbd340ce46{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-2aaxnn-4362f0b8a683cc73f30a53fd42c1f0c7{
margin-bottom:5px;
margin-right:5px;
}

#top .hr.hr-invisible.av-22rgib-d5449b3ed83cedc3dfc69bd8b8d7b297{
height:150px;
}

.avia-section.av-1v12wj-58bfd654db35b2c3251f799218093c48{
background-color:#fcf5f8;
background-image:unset;
}

#top .hr.hr-invisible.av-1or2bv-68de119c39557a4bb2680300bb6aeb1c{
height:50px;
}

#top .hr.hr-invisible.av-1jyycb-8313a4f08d4189f514cff6f4c74de1ee{
margin-top:-50px;
height:1px;
}

.flex_column.av-1f5asr-99827cba1184d98aea284435882dfcb4{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lo8deudc-d0297ef4a03adaa3751835519bfa63bb{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-lo8deudc-d0297ef4a03adaa3751835519bfa63bb .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo8deudc-d0297ef4a03adaa3751835519bfa63bb .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lo8deudc-d0297ef4a03adaa3751835519bfa63bb .av-subheading{
font-size:15px;
}

.flex_column.av-w7l4r-6599b240a590fee31a8aa478453d3bc1{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

@keyframes av_boxShadowEffect_av-lo8ddwe7-875c2ce1b32b68f2579d6200e6f51c02 {
0%   { box-shadow:  0 0 0 0 ; opacity: 1; }
100% { box-shadow:  0 0 10px 0 ; opacity: 1; }
}
.avia-image-container.av-lo8ddwe7-875c2ce1b32b68f2579d6200e6f51c02 img.avia_image{
box-shadow: 0 0 10px 0 ;
}
.avia-image-container.av-lo8ddwe7-875c2ce1b32b68f2579d6200e6f51c02 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-lo8de5tc-4b05afa2b453186f9d4e4b2f4213b773{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-lo8de5tc-4b05afa2b453186f9d4e4b2f4213b773 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo8de5tc-4b05afa2b453186f9d4e4b2f4213b773 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lo8de5tc-4b05afa2b453186f9d4e4b2f4213b773 .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-13nzxv-d10349594e544b32f4840f1b36126ba5{
margin-bottom:5px;
margin-right:5px;
}

#top .hr.hr-invisible.av-qnujn-55eb78d7572e25bd65eebcee61fd1232{
height:50px;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
#top #wrap_all .av-special-heading.av-3h06pf-dab0fdc54de0e3ad1fd362ae698a1b34 .av-special-heading-tag{
font-size:50px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-3h06pf-dab0fdc54de0e3ad1fd362ae698a1b34 .av-special-heading-tag{
font-size:35px;
}

#top #wrap_all .av-special-heading.av-lo8deudc-d0297ef4a03adaa3751835519bfa63bb .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo8de5tc-4b05afa2b453186f9d4e4b2f4213b773 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-3h06pf-dab0fdc54de0e3ad1fd362ae698a1b34 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-lo8deudc-d0297ef4a03adaa3751835519bfa63bb .av-special-heading-tag{
font-size:25px;
}

#top #wrap_all .av-special-heading.av-lo8de5tc-4b05afa2b453186f9d4e4b2f4213b773 .av-special-heading-tag{
font-size:25px;
}
}
