.avia-section.av-lo6slwzt-a03b4583369b5f11d699475717b34400{
background-color:#212121;
background-image:url(../images/10-frisoerkvindemedbrunthaar.jpg);
background-repeat:no-repeat;
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-lo6slwzt-a03b4583369b5f11d699475717b34400 .av-section-color-overlay{
opacity:0.3;
background-color:#2b2b2b;
}
#top .avia-section.av-lo6slwzt-a03b4583369b5f11d699475717b34400 .scroll-down-link{
color:#ffffff;
}

#top .hr.hr-invisible.av-8afwy-36c110580b1b8ca1b87a5351c2d18f16{
height:150px;
}

#top .av-special-heading.av-lo6sec8s-0cf41c97cce9ec6b84a617a4c042f2e1{
padding-bottom:0;
color:#ffffff;
font-size:65px;
}
body .av-special-heading.av-lo6sec8s-0cf41c97cce9ec6b84a617a4c042f2e1 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6sec8s-0cf41c97cce9ec6b84a617a4c042f2e1 .av-special-heading-tag{
font-size:65px;
}
.av-special-heading.av-lo6sec8s-0cf41c97cce9ec6b84a617a4c042f2e1 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo6sec8s-0cf41c97cce9ec6b84a617a4c042f2e1 .av-subheading{
font-size:22px;
}

#top .hr.hr-invisible.av-721dq-6d8aa45d1ee365e5b5baaf1034a01710{
height:15px;
}

#top .av_textblock_section.av-lo6sf94k-389eb0035e6f2c93012ae1b3f1a5eb1f .avia_textblock{
font-size:24px;
color:#ffffff;
text-align:left;
}

#top .hr.hr-invisible.av-15616-20b3e8b4ec6ecdff34f429c2ca61bf53{
height:15px;
}

#top #wrap_all .avia-button.av-lo6sd9hu-7d0670370ffe3060a9077874cf7e3085{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-6blaq-6aa0b7b5baae8deb10ff175818dffddb{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-ddah6-8a8c3c31f1483558813fe278a1b8feda{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-cs3o2-2e686cb356cd9462856969f90ce046c2{
margin-bottom:5px;
margin-right:5px;
}

#top .hr.hr-invisible.av-57fum-9acd34323fc8180e5d53a808e83c0198{
height:150px;
}

#top .hr.hr-invisible.av-3or96-ac1b032856db2f79bba031b061060808{
height:50px;
}

#top .hr.hr-invisible.av-cmy6-2d24eda11a4d1b41c9e7ce9679ca7865{
margin-top:-50px;
height:1px;
}

.flex_column.av-2u8py-834736c51042d44cbe3faf4f442c3da7{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lo6src9t-479d0171468e19d4716fca0f2c807f8c{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-lo6src9t-479d0171468e19d4716fca0f2c807f8c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6src9t-479d0171468e19d4716fca0f2c807f8c .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lo6src9t-479d0171468e19d4716fca0f2c807f8c .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-lo6svpbs-936c034f36bf6e542f2667c1de9f00cb{
margin-bottom:5px;
margin-right:5px;
}

.flex_column.av-1w5bu-855c664eb6b5328ac6b59876eaf7fb21{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

@keyframes av_boxShadowEffect_av-lo6sqxpc-a32287b7c87af338041a33e972226a9c {
0%   { box-shadow:  0 0 0 0 ; opacity: 1; }
100% { box-shadow:  0 0 10px 0 ; opacity: 1; }
}
.avia-image-container.av-lo6sqxpc-a32287b7c87af338041a33e972226a9c img.avia_image{
box-shadow: 0 0 10px 0 ;
}
.avia-image-container.av-lo6sqxpc-a32287b7c87af338041a33e972226a9c .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-1cxw6-47242c6bc51b00359a35fec2f63301bf{
margin-top:-20px;
height:1px;
}

#top .hr.hr-invisible.av-3zzq-e69ab18cbbfdb1d85b79581f3122f345{
height:50px;
}

.avia-section.av-lo6tux9s-d1ce4a30cdec2deeb9788d5ff220330c .av-parallax .av-parallax-inner{
background-repeat:no-repeat;
background-image:url(../images/10-frisoerbillede.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-lo6tux9s-d1ce4a30cdec2deeb9788d5ff220330c .av-section-color-overlay{
opacity:0.9;
background-color:#ffffff;
}

#top .hr.hr-invisible.av-c11d2-fdae00d1c360afc17815b338cacf1b31{
height:90px;
}

#top .hr.hr-invisible.av-bl85e-0adac0890a2aa38cd75017be593702d3{
height:60px;
}

#top .hr.hr-invisible.av-arzg6-018d2aa84c35a8f04ff2021c0705b8fb{
height:40px;
}

#top .av-special-heading.av-lo6u0378-d93fc29bdae76c1a65907f0517e2db31{
padding-bottom:10px;
font-size:35px;
}
body .av-special-heading.av-lo6u0378-d93fc29bdae76c1a65907f0517e2db31 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6u0378-d93fc29bdae76c1a65907f0517e2db31 .av-special-heading-tag{
font-size:35px;
}
.av-special-heading.av-lo6u0378-d93fc29bdae76c1a65907f0517e2db31 .av-subheading{
font-size:16px;
}

#top .hr.hr-invisible.av-ab2qa-c7d7dd8c210d7d8b5aa10d77f0d35ab9{
margin-top:-20px;
height:1px;
}

#top .hr.hr-invisible.av-9ng1a-d1d802e525f10cc418f0e7d795ee2cc6{
margin-top:-30px;
height:1px;
}

.flex_column.av-lo6tx7ks-9d6b4f4a3f06847522125c7900aa9c3d{
width:24.625%;
margin-left:0;
border-radius:5px 5px 5px 5px;
padding:80px 50px 30px 30px;
background:url(../images/hair_second1.jpg) 50% 50% no-repeat scroll #636363;
}
#top .flex_column_table.av-equal-height-column-flextable.av-lo6tx7ks-9d6b4f4a3f06847522125c7900aa9c3d .av-flex-placeholder{
width:0.5%;
}

#top .hr.hr-invisible.av-lo6tuc2g-a652e87a14323b46567e031c1977b8f2{
height:220px;
}

#top .hr.hr-invisible.av-9at92-fc82544760b25fc58c8b18f997c15c5d{
height:20px;
}

#top .av-special-heading.av-lo6tvz6c-8fb0402daa50e2d0825b4ba3fb649e3d{
padding-bottom:10px;
color:#ffffff;
font-size:32px;
}
body .av-special-heading.av-lo6tvz6c-8fb0402daa50e2d0825b4ba3fb649e3d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6tvz6c-8fb0402daa50e2d0825b4ba3fb649e3d .av-special-heading-tag{
font-size:32px;
}
.av-special-heading.av-lo6tvz6c-8fb0402daa50e2d0825b4ba3fb649e3d .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo6tvz6c-8fb0402daa50e2d0825b4ba3fb649e3d .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-lo6twur5-1cd8f54b9baa9d8120f8c229dcbdffea{
padding-bottom:10px;
color:#ffffff;
font-size:32px;
}
body .av-special-heading.av-lo6twur5-1cd8f54b9baa9d8120f8c229dcbdffea .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6twur5-1cd8f54b9baa9d8120f8c229dcbdffea .av-special-heading-tag{
font-size:32px;
}
.av-special-heading.av-lo6twur5-1cd8f54b9baa9d8120f8c229dcbdffea .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo6twur5-1cd8f54b9baa9d8120f8c229dcbdffea .av-subheading{
font-size:15px;
}

.flex_column.av-lo6txjka-13565bea4e68f1b031cba5da08404101{
width:24.625%;
margin-left:0;
border-radius:5px 5px 5px 5px;
padding:80px 50px 30px 30px;
background:url(../images/hair5.jpg) 50% 50% no-repeat scroll #636363;
}
#top .flex_column_table.av-equal-height-column-flextable.av-lo6txjka-13565bea4e68f1b031cba5da08404101 .av-flex-placeholder{
width:0.5%;
}

#top .hr.hr-invisible.av-8jnea-9a883971b7279aca99e494a54f8cf8d2{
height:220px;
}

#top .hr.hr-invisible.av-7xley-0fa5695199ee828935c6b1e35fefafeb{
height:20px;
}

#top .av-special-heading.av-lo6tw392-bd1632555f5540d0d936ebeb7796d100{
padding-bottom:10px;
color:#ffffff;
font-size:32px;
}
body .av-special-heading.av-lo6tw392-bd1632555f5540d0d936ebeb7796d100 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6tw392-bd1632555f5540d0d936ebeb7796d100 .av-special-heading-tag{
font-size:32px;
}
.av-special-heading.av-lo6tw392-bd1632555f5540d0d936ebeb7796d100 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo6tw392-bd1632555f5540d0d936ebeb7796d100 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-lo6u4d9s-b941176c534d7d87fe6262948259edf5{
padding-bottom:10px;
color:#ffffff;
font-size:32px;
}
body .av-special-heading.av-lo6u4d9s-b941176c534d7d87fe6262948259edf5 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6u4d9s-b941176c534d7d87fe6262948259edf5 .av-special-heading-tag{
font-size:32px;
}
.av-special-heading.av-lo6u4d9s-b941176c534d7d87fe6262948259edf5 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo6u4d9s-b941176c534d7d87fe6262948259edf5 .av-subheading{
font-size:15px;
}

.flex_column.av-lo6txs54-cd1d0aca0c587321a921d2eba134f51b{
width:24.625%;
margin-left:0;
border-radius:5px 5px 5px 5px;
padding:80px 50px 30px 30px;
background:url(../images/hair_second2.jpg) 50% 50% no-repeat scroll #636363;
}
#top .flex_column_table.av-equal-height-column-flextable.av-lo6txs54-cd1d0aca0c587321a921d2eba134f51b .av-flex-placeholder{
width:0.5%;
}

#top .hr.hr-invisible.av-77v9a-2239a92b435b99f3136655462e6c06dd{
height:220px;
}

#top .hr.hr-invisible.av-6s1yu-b449d27688c28060362a6b64171fcfc8{
height:20px;
}

#top .av-special-heading.av-lo6tw7re-3294170da6aa00823599dc38b53ab16c{
padding-bottom:10px;
color:#ffffff;
font-size:32px;
}
body .av-special-heading.av-lo6tw7re-3294170da6aa00823599dc38b53ab16c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6tw7re-3294170da6aa00823599dc38b53ab16c .av-special-heading-tag{
font-size:32px;
}
.av-special-heading.av-lo6tw7re-3294170da6aa00823599dc38b53ab16c .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo6tw7re-3294170da6aa00823599dc38b53ab16c .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-lo6u4zsc-3f9e34bcec82981e5b62a2cbcc5d0c7c{
padding-bottom:10px;
color:#ffffff;
font-size:32px;
}
body .av-special-heading.av-lo6u4zsc-3f9e34bcec82981e5b62a2cbcc5d0c7c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6u4zsc-3f9e34bcec82981e5b62a2cbcc5d0c7c .av-special-heading-tag{
font-size:32px;
}
.av-special-heading.av-lo6u4zsc-3f9e34bcec82981e5b62a2cbcc5d0c7c .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo6u4zsc-3f9e34bcec82981e5b62a2cbcc5d0c7c .av-subheading{
font-size:15px;
}

.flex_column.av-lo6ty2yz-9db4a71acc901fc6d677e7b68615fd22{
width:24.625%;
margin-left:0;
border-radius:5px 5px 5px 5px;
padding:80px 50px 30px 30px;
background:url(../images/hair_second3.jpg) 50% 50% no-repeat scroll #636363;
}
#top .flex_column_table.av-equal-height-column-flextable.av-lo6ty2yz-9db4a71acc901fc6d677e7b68615fd22 .av-flex-placeholder{
width:0.5%;
}

#top .hr.hr-invisible.av-6asza-f2265f6bb147ad640132927eddb84306{
height:220px;
}

#top .hr.hr-invisible.av-5s2oa-95804a8471383fb630f990f6d1b56467{
height:20px;
}

#top .av-special-heading.av-lo6twe1m-7f67d9478a3401c3b204f989cff1e928{
padding-bottom:10px;
color:#ffffff;
font-size:32px;
}
body .av-special-heading.av-lo6twe1m-7f67d9478a3401c3b204f989cff1e928 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6twe1m-7f67d9478a3401c3b204f989cff1e928 .av-special-heading-tag{
font-size:32px;
}
.av-special-heading.av-lo6twe1m-7f67d9478a3401c3b204f989cff1e928 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo6twe1m-7f67d9478a3401c3b204f989cff1e928 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-lo6u537b-dbf41f91210d4c249d9b060dfec363d1{
padding-bottom:10px;
color:#ffffff;
font-size:32px;
}
body .av-special-heading.av-lo6u537b-dbf41f91210d4c249d9b060dfec363d1 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo6u537b-dbf41f91210d4c249d9b060dfec363d1 .av-special-heading-tag{
font-size:32px;
}
.av-special-heading.av-lo6u537b-dbf41f91210d4c249d9b060dfec363d1 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo6u537b-dbf41f91210d4c249d9b060dfec363d1 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-lo6u9mby-408765408b60da891a4fc3f649074c5a{
height:20px;
}

#top #wrap_all .avia-button.av-lo6u8cox-504e3afce4f12e4341828aa7c98cb622{
margin-bottom:5px;
margin-right:3px;
margin-left:3px;
}

#top #wrap_all .avia-button.av-lo6u8hqy-b36e6241a3cd42f359012780d5835014{
margin-bottom:5px;
margin-right:3px;
margin-left:3px;
}

#top .hr.hr-invisible.av-50s9m-308d90ded2831188f4d56da134cb0162{
height:130px;
}

#top .hr.hr-invisible.av-4n426-1744c12a3e1ed93dfde39fda380f6602{
height:70px;
}

#top .hr.hr-invisible.av-3xdim-2ee905294ac19ef93c22fcb55b94e0e2{
height:40px;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
#top #wrap_all .av-special-heading.av-lo6sec8s-0cf41c97cce9ec6b84a617a4c042f2e1 .av-special-heading-tag{
font-size:50px;
}

#top #wrap_all .av-special-heading.av-lo6u0378-d93fc29bdae76c1a65907f0517e2db31 .av-special-heading-tag{
font-size:40px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-lo6sec8s-0cf41c97cce9ec6b84a617a4c042f2e1 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-lo6src9t-479d0171468e19d4716fca0f2c807f8c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo6u0378-d93fc29bdae76c1a65907f0517e2db31 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo6tvz6c-8fb0402daa50e2d0825b4ba3fb649e3d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo6twur5-1cd8f54b9baa9d8120f8c229dcbdffea .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo6tw392-bd1632555f5540d0d936ebeb7796d100 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo6u4d9s-b941176c534d7d87fe6262948259edf5 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo6tw7re-3294170da6aa00823599dc38b53ab16c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo6u4zsc-3f9e34bcec82981e5b62a2cbcc5d0c7c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo6twe1m-7f67d9478a3401c3b204f989cff1e928 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lo6u537b-dbf41f91210d4c249d9b060dfec363d1 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-lo6sec8s-0cf41c97cce9ec6b84a617a4c042f2e1 .av-special-heading-tag{
font-size:40px;
}

#top .av_textblock_section.av-lo6sf94k-389eb0035e6f2c93012ae1b3f1a5eb1f .avia_textblock{
font-size:20px;
}

#top #wrap_all .av-special-heading.av-lo6src9t-479d0171468e19d4716fca0f2c807f8c .av-special-heading-tag{
font-size:25px;
}

#top #wrap_all .av-special-heading.av-lo6u0378-d93fc29bdae76c1a65907f0517e2db31 .av-special-heading-tag{
font-size:25px;
}

#top #wrap_all .av-special-heading.av-lo6tvz6c-8fb0402daa50e2d0825b4ba3fb649e3d .av-special-heading-tag{
font-size:22px;
}

#top #wrap_all .av-special-heading.av-lo6twur5-1cd8f54b9baa9d8120f8c229dcbdffea .av-special-heading-tag{
font-size:22px;
}

#top #wrap_all .av-special-heading.av-lo6tw392-bd1632555f5540d0d936ebeb7796d100 .av-special-heading-tag{
font-size:22px;
}

#top #wrap_all .av-special-heading.av-lo6u4d9s-b941176c534d7d87fe6262948259edf5 .av-special-heading-tag{
font-size:22px;
}

#top #wrap_all .av-special-heading.av-lo6tw7re-3294170da6aa00823599dc38b53ab16c .av-special-heading-tag{
font-size:22px;
}

#top #wrap_all .av-special-heading.av-lo6u4zsc-3f9e34bcec82981e5b62a2cbcc5d0c7c .av-special-heading-tag{
font-size:22px;
}

#top #wrap_all .av-special-heading.av-lo6twe1m-7f67d9478a3401c3b204f989cff1e928 .av-special-heading-tag{
font-size:22px;
}

#top #wrap_all .av-special-heading.av-lo6u537b-dbf41f91210d4c249d9b060dfec363d1 .av-special-heading-tag{
font-size:22px;
}
}
