.avia-section.av-lo6w3r8z-c284b2658c5a408b7f4065cd89ecd277{
background-color:#000000;
background-image:url('../images/hair1.jpg');
background-repeat:no-repeat;
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-lo6w3r8z-c284b2658c5a408b7f4065cd89ecd277 .av-section-color-overlay{
opacity:0.5;
background-color:#2b2b2b;
}

#top .hr.hr-invisible.av-86jth-5278407a8b689050d133065dcb8c18bc{
height:150px;
}

#top .av-special-heading.av-7cxuh-fda710a0bcc8819b11b925e6937f1c95{
padding-bottom:0;
color:#ffffff;
font-size:70px;
}
body .av-special-heading.av-7cxuh-fda710a0bcc8819b11b925e6937f1c95 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-7cxuh-fda710a0bcc8819b11b925e6937f1c95 .av-special-heading-tag{
font-size:70px;
}
.av-special-heading.av-7cxuh-fda710a0bcc8819b11b925e6937f1c95 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-7cxuh-fda710a0bcc8819b11b925e6937f1c95 .av-subheading{
font-size:22px;
}

#top .av_textblock_section.av-lo6w3xxy-a7a58dcae0d8fe90c6ec95b7d0050f4a .avia_textblock{
font-size:18px;
color:#ffffff;
text-align:left;
}

#top .hr.hr-invisible.av-6v9np-0ed3496e3f7033aa36c0e18c03a2842b{
height:150px;
}

.avia-section.av-649qt-1afaff3d292de17a0a7354a455ef2855{
background-color:#ffffff;
background-image:unset;
}

#top .hr.hr-invisible.av-5xr3l-0a5098948617950051843fda1bdfbbf9{
height:20px;
}

#top .hr.hr-invisible.av-51ykt-0ac2f8338dc16af457a67611f5ae524d{
margin-top:-40px;
height:1px;
}

.flex_column.av-lo6w4n4a-d7dc5da6ce5c318bfc1b2e8a8ce49433{
border-radius:5px 5px 5px 5px;
padding:50px 50px 50px 50px;
background-color:#fcf5f8;
position: relative;
overflow: hidden;
width: 500px;
}
.flex_column.av-lo6w4n4a-d7dc5da6ce5c318bfc1b2e8a8ce49433 .mobile-icon{
    position: relative;
    width: 100%;
    left: 3%;
    min-height: 565px;
    background-image: url(../images/iphone-x.png);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}
@media screen and (max-width:480px) {
    .flex_column.av-lo6w4n4a-d7dc5da6ce5c318bfc1b2e8a8ce49433 .mobile-icon{
        width: 128%;
        left: -14%;
        min-height: 565px;

        background-size: cover;
  
    
    }
}
.mobile-icon #myIframe {
    position: absolute;
    width: 100%;
    top: 55px;
    left: 20px;
}

#top .av-special-heading.av-4nrup-95df74de06e1b25dd6c19866a0c38268{
padding-bottom:10px;
}
body .av-special-heading.av-4nrup-95df74de06e1b25dd6c19866a0c38268 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-4nrup-95df74de06e1b25dd6c19866a0c38268 .av-subheading{
font-size:15px;
}

.flex_column.av-3htz5-901b3b8a2496db96c54043031128a141{
border-radius:0px 0px 0px 0px;
padding:50px 50px 50px 50px;
}

#top .av-special-heading.av-2kgid-aea360a5aca856b6f6e2dc78df95f6e6{
padding-bottom:10px;
}
body .av-special-heading.av-2kgid-aea360a5aca856b6f6e2dc78df95f6e6 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2kgid-aea360a5aca856b6f6e2dc78df95f6e6 .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-kcvyetkh-c9533c3c86012a659059345caac39368 .iconlist_icon{
color:#00a896;
font-size:18px;
}
#top #wrap_all .avia-icon-list-container.av-kcvyetkh-c9533c3c86012a659059345caac39368 .av_iconlist_title{
font-size:18px;
}
.avia-icon-list-container.av-kcvyetkh-c9533c3c86012a659059345caac39368 .iconlist_content{
font-size:14px;
color:#555555;
}

@keyframes av_boxShadowEffect_av-lo6x1wqv-6b23abe0d689b28d1dabc7920e1a6bea {
0%   { box-shadow:  0 0 0 0 ; opacity: 1; }
100% { box-shadow:  0 0 10px 0 ; opacity: 1; }
}
.avia-image-container.av-lo6x1wqv-6b23abe0d689b28d1dabc7920e1a6bea img.avia_image{
box-shadow: 0 0 10px 0 ;
}
.avia-image-container.av-lo6x1wqv-6b23abe0d689b28d1dabc7920e1a6bea .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-2auzh-79e26fbc9691c350f2d0fb8db46d01a5{
margin-top:-40px;
height:1px;
}

#top .hr.hr-invisible.av-5p1x-5f896daa1447463554b9f27b8651cdb9{
height:50px;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
#top #wrap_all .av-special-heading.av-7cxuh-fda710a0bcc8819b11b925e6937f1c95 .av-special-heading-tag{
font-size:50px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-7cxuh-fda710a0bcc8819b11b925e6937f1c95 .av-special-heading-tag{
font-size:35px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-7cxuh-fda710a0bcc8819b11b925e6937f1c95 .av-special-heading-tag{
font-size:30px;
}

#top #wrap_all .av-special-heading.av-4nrup-95df74de06e1b25dd6c19866a0c38268 .av-special-heading-tag{
font-size:25px;
}

#top #wrap_all .av-special-heading.av-2kgid-aea360a5aca856b6f6e2dc78df95f6e6 .av-special-heading-tag{
font-size:25px;
}
}
