.avia-section.av-lo8dy6dv-99987cb587fb2c682714204d7049b1ff{
background-color:#000000;
background-image:url(../images/hair1.jpg);
background-repeat:no-repeat;
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-lo8dy6dv-99987cb587fb2c682714204d7049b1ff .av-section-color-overlay{
opacity:0.5;
background-color:#2b2b2b;
}

#top .hr.hr-invisible.av-d6bdr-a5035d2ac57a842ab1e3aaf721551bef{
height:150px;
}

#top .av-special-heading.av-lo8dvnqs-349a69775b5161955d9314ef366f2080{
padding-bottom:0;
color:#ffffff;
font-size:70px;
}
body .av-special-heading.av-lo8dvnqs-349a69775b5161955d9314ef366f2080 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo8dvnqs-349a69775b5161955d9314ef366f2080 .av-special-heading-tag{
font-size:70px;
}
.av-special-heading.av-lo8dvnqs-349a69775b5161955d9314ef366f2080 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo8dvnqs-349a69775b5161955d9314ef366f2080 .av-subheading{
font-size:22px;
}

#top .hr.hr-invisible.av-czclz-70800f0ff81b5e6acb76c878d40e63ae{
height:15px;
}

#top #wrap_all .avia-button.av-380brb-62cbee78f667bee80d863911d794e2ee{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-b74vr-6e4c8cd0c22a5389000015537f36bc09{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-9vj5b-2b26af3298d047185c283fe00f40146c{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-2ih9c7-522adff7bc0cc72d4861b8d6de314696{
margin-bottom:5px;
margin-right:5px;
}

#top .hr.hr-invisible.av-2c2vcv-a6f192f587a0c6b0adb79352ed117824{
height:150px;
}

#top .hr.hr-invisible.av-224iw7-aabbfffc13ff7f6344e95663c7c91e10{
height:50px;
}

#top .hr.hr-invisible.av-1weukn-28320888c3af5ccbaac528b718ec86cf{
margin-top:-50px;
height:1px;
}

.flex_column.av-1oayuv-df2751f08ec8c3123d9f67d9ac5b1584{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lo8dvsmk-c2e074eb1409f52faa5eca793ae835e7{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-lo8dvsmk-c2e074eb1409f52faa5eca793ae835e7 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo8dvsmk-c2e074eb1409f52faa5eca793ae835e7 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lo8dvsmk-c2e074eb1409f52faa5eca793ae835e7 .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-1gmy4n-2b03f29acefc8a7efc5cbcff644baa0f{
margin-bottom:5px;
margin-right:5px;
}

.flex_column.av-17ksm7-940b3a3fa79138502f0ac995b187a20a{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

@keyframes av_boxShadowEffect_av-lo8dx2zn-2a9d2f7bfaf3b41d111e8d87b0049bf7 {
0%   { box-shadow:  0 0 0 0 ; opacity: 1; }
100% { box-shadow:  0 0 10px 0 ; opacity: 1; }
}
.avia-image-container.av-lo8dx2zn-2a9d2f7bfaf3b41d111e8d87b0049bf7 img.avia_image{
box-shadow: 0 0 10px 0 ;
}
.avia-image-container.av-lo8dx2zn-2a9d2f7bfaf3b41d111e8d87b0049bf7 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-q6zan-5defb1d9fa0ec15144a436a41b1221c8{
height:50px;
}

.avia-section.av-t8rgf-f9280d1d85686c76cb332e1de67a7366{
background-color:#fcf5f8;
background-image:unset;
}

#top .hr.hr-invisible.av-lo8e5142-fea59701467070a0b7fb751289d9f13c{
height:5px;
}

#top .hr.hr-invisible.av-il61j-7ffa1c2d42c1f026620da7d2257f1382{
margin-top:-50px;
height:1px;
}

.flex_column.av-d6bdr-5-adb11665c0f0e955503cc6d3985e2603{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-bnuqf-caedec98d9b7f1a357e223acfcf2644e{
height:50px;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
#top #wrap_all .av-special-heading.av-lo8dvnqs-349a69775b5161955d9314ef366f2080 .av-special-heading-tag{
font-size:50px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-lo8dvnqs-349a69775b5161955d9314ef366f2080 .av-special-heading-tag{
font-size:35px;
}

#top #wrap_all .av-special-heading.av-lo8dvsmk-c2e074eb1409f52faa5eca793ae835e7 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-lo8dvnqs-349a69775b5161955d9314ef366f2080 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-lo8dvsmk-c2e074eb1409f52faa5eca793ae835e7 .av-special-heading-tag{
font-size:25px;
}
}
