.avia-section.av-lo8a0o6c-daa913d1ccd0cac221a980f97451225a{
    background-color:#000000;
    background-image:url(../images/hair1.jpg);
    background-repeat:no-repeat;
    background-position:50% 70%;
    background-attachment:scroll;
    }
    .avia-section.av-lo8a0o6c-daa913d1ccd0cac221a980f97451225a .av-section-color-overlay{
    opacity:0.5;
    background-color:#2b2b2b;
    }
    
    #top .hr.hr-invisible.av-jb61f-3727cafc4b898ccf04cd37c4cbc8932c{
    height:150px;
    }
    
    #top .av-special-heading.av-lo89y80j-c9fff2a97ab27576cc68e0c37bb6abc9{
    padding-bottom:0;
    color:#ffffff;
    font-size:70px;
    }
    body .av-special-heading.av-lo89y80j-c9fff2a97ab27576cc68e0c37bb6abc9 .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo89y80j-c9fff2a97ab27576cc68e0c37bb6abc9 .av-special-heading-tag{
    font-size:70px;
    }
    .av-special-heading.av-lo89y80j-c9fff2a97ab27576cc68e0c37bb6abc9 .special-heading-inner-border{
    border-color:#ffffff;
    }
    .av-special-heading.av-lo89y80j-c9fff2a97ab27576cc68e0c37bb6abc9 .av-subheading{
    font-size:22px;
    }
    
    #top .hr.hr-invisible.av-ikwij-2fa84dd7ad9de2e6173c370d66633142{
    height:15px;
    }
    
    #top #wrap_all .avia-button.av-hsv3n-c6df63504d340791ce94bfbccfc49e29{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    #top #wrap_all .avia-button.av-h3f7f-3ce2353dad2d424d7485fe03a2f9a40f{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    #top #wrap_all .avia-button.av-fnsn3-982674c321e0ffaca8513ef78df53e3d{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    #top #wrap_all .avia-button.av-1ig2f-93f12403e13b23ed7fa708e44b8bd886{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    #top .hr.hr-invisible.av-ejaoz-c39bba96c3d75b8942c09a2b7dd3fc3e{
    height:150px;
    }
    
    #top .hr.hr-invisible.av-1cv7v-ba94e46e4008aab5b649978189f6bf29{
    height:50px;
    }
    
    #top .hr.hr-invisible.av-ctk0b-b90440bec8f691e8278476fb33e517d2{
    margin-top:-50px;
    height:1px;
    }
    
    .flex_column.av-c0dbb-89006da110cd7fae0979b8b9f39c6a4e{
    border-radius:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    }
    
    #top .av-special-heading.av-lo8a1mcx-a40dd1acd3e92306f4b7acbce09785f9{
    padding-bottom:10px;
    font-size:28px;
    }
    body .av-special-heading.av-lo8a1mcx-a40dd1acd3e92306f4b7acbce09785f9 .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo8a1mcx-a40dd1acd3e92306f4b7acbce09785f9 .av-special-heading-tag{
    font-size:28px;
    }
    .av-special-heading.av-lo8a1mcx-a40dd1acd3e92306f4b7acbce09785f9 .av-subheading{
    font-size:15px;
    }
    
    #top #wrap_all .avia-button.av-11tj7-a9d4f7fed0226a5a2ce9189eb92632a6{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    .flex_column.av-9qbub-5b24f80a36cddf441bd2520728263ab5{
    border-radius:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    }
    
    @keyframes av_boxShadowEffect_av-lo8a2o7t-43f588cd061224e1b6cd4709c9372ed0 {
    0%   { box-shadow:  0 0 0 0 ; opacity: 1; }
    100% { box-shadow:  0 0 10px 0 ; opacity: 1; }
    }
    .avia-image-container.av-lo8a2o7t-43f588cd061224e1b6cd4709c9372ed0 img.avia_image{
    box-shadow: 0 0 10px 0 ;
    }
    .avia-image-container.av-lo8a2o7t-43f588cd061224e1b6cd4709c9372ed0 .av-image-caption-overlay-center{
    color:#ffffff;
    }
    
    .flex_column.av-2fx7-c8aab481c1141bc0063a4a860d940823{
    border-radius:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    }
    
    #top .av-special-heading.av-lo8ct7gs-c9a060198aeed982be2dcd68a2f452c8{
    padding-bottom:10px;
    font-size:28px;
    }
    body .av-special-heading.av-lo8ct7gs-c9a060198aeed982be2dcd68a2f452c8 .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo8ct7gs-c9a060198aeed982be2dcd68a2f452c8 .av-special-heading-tag{
    font-size:28px;
    }
    .av-special-heading.av-lo8ct7gs-c9a060198aeed982be2dcd68a2f452c8 .av-subheading{
    font-size:15px;
    }
    
    #top .hr.hr-invisible.av-lo8cr9b3-16760c2410a9e160e5b8fd31812d4262{
    margin-top:-20px;
    height:1px;
    }
    
    #top .hr.hr-invisible.av-92yhf-ed7cba27b0660027048b01648d8bb697{
    height:50px;
    }
    
    .avia-section.av-5vshv-eebeb91c3b623129017e9bce114932d1{
    background-color:#fbf2f7;
    background-image:unset;
    }
    
    #top .hr.hr-invisible.av-56dwv-3c1443fbde5c9d22f23ae7ff363e24a5{
    height:10px;
    }
    
    #top .hr.hr-invisible.av-4kqa7-ea94b413075b37ce745938aa4529bf51{
    margin-top:-40px;
    height:1px;
    }
    
    .flex_column.av-lo8aazlx-15b467da06e0ca03e2a4b6863560068c{
    border-radius:5px 5px 5px 5px;
    padding:0px 0px 0px 0px;
    background:url(../images/hair_second1.jpg) 50% 50% no-repeat scroll ;
    }
    
    #top .hr.hr-invisible.av-lo8aafm3-3f310e2be7f92c48ad5ffe029d49a695{
    height:400px;
    }
    
    .flex_column.av-3zg5n-2fc5e238d3bfe7bfb892bc5bfd412304{
    border-radius:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    }
    
    #top .av-special-heading.av-lo8abb25-6a36bd3841b4c2c4b0e36902fd370aa8{
    padding-bottom:10px;
    font-size:28px;
    }
    body .av-special-heading.av-lo8abb25-6a36bd3841b4c2c4b0e36902fd370aa8 .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo8abb25-6a36bd3841b4c2c4b0e36902fd370aa8 .av-special-heading-tag{
    font-size:28px;
    }
    .av-special-heading.av-lo8abb25-6a36bd3841b4c2c4b0e36902fd370aa8 .av-subheading{
    font-size:15px;
    }
    
    #top .hr.hr-invisible.av-3490b-d5daf7d67bbdd119fbe6f3daaa00d4e0{
    height:50px;
    }
    
    #top .hr.hr-invisible.av-2g6cb-ba771f9992c9c2549a77c1afe08cbd3c{
    margin-top:-40px;
    height:1px;
    }
    
    #top .hr.hr-invisible.av-9lp6b-7115df26adf0d24cf85029f73b212ec7{
    height:30px;
    }
    
    #top .hr.hr-invisible.av-90krb-8e9732d4df5c0db8bb72dfac9ac70581{
    margin-top:-10px;
    height:1px;
    }
    
    .flex_column.av-8mhkz-8f1e7373dfab446c784525af00b1577f{
    border-radius:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    }
    
    #top .av-special-heading.av-lo8b73gg-0fa827235485bf8e9ab24347beb6975d{
    padding-bottom:10px;
    font-size:28px;
    }
    body .av-special-heading.av-lo8b73gg-0fa827235485bf8e9ab24347beb6975d .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo8b73gg-0fa827235485bf8e9ab24347beb6975d .av-special-heading-tag{
    font-size:28px;
    }
    .av-special-heading.av-lo8b73gg-0fa827235485bf8e9ab24347beb6975d .av-subheading{
    font-size:15px;
    }
    
    #top .av-special-heading.av-lo8b7ucg-be9528ee4206c1fb8fbe7a46fb612e45{
    padding-bottom:10px;
    font-size:28px;
    }
    body .av-special-heading.av-lo8b7ucg-be9528ee4206c1fb8fbe7a46fb612e45 .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo8b7ucg-be9528ee4206c1fb8fbe7a46fb612e45 .av-special-heading-tag{
    font-size:28px;
    }
    .av-special-heading.av-lo8b7ucg-be9528ee4206c1fb8fbe7a46fb612e45 .av-subheading{
    font-size:15px;
    }
    
    .flex_column.av-88tzr-831f7afe1d86948beef59adaaca2eab2{
    border-radius:5px 5px 5px 5px;
    padding:0px 0px 0px 0px;
    background:url(../images/hair3.jpg) 50% 50% no-repeat scroll ;
    }
    
    #top .hr.hr-invisible.av-7l8or-3ccaad9d57f35bab2648b3e4b569ab77{
    height:400px;
    }
    
    #top .hr.hr-invisible.av-6qvv3-6736ee8cf4953ce36a9e5de8a6e05223{
    height:50px;
    }
    
    #top .hr.hr-invisible.av-65jvv-c3504e29b79a65b31ea45d2c3bcdabb8{
    margin-top:-40px;
    height:1px;
    }
    
    .avia-section.av-lc0j-d370f75a2e4eb83122e5228c9a04ee61{
    background-color:#fbf2f7;
    background-image:unset;
    }
    
    #top .hr.hr-invisible.av-593zf-660ca81a7fe69a849f3e9480d7dfdf31{
    height:10px;
    }
    
    #top .hr.hr-invisible.av-4gja3-9f17aa4577535fab454266d0e978a38a{
    margin-top:-50px;
    height:1px;
    }
    
    .flex_column.av-3xwzj-aa002a101c6dd8b5270c909712c2f78e{
    border-radius:5px 5px 5px 5px;
    padding:0px 0px 0px 0px;
    background:url(../images/hair5.jpg) 50% 50% no-repeat scroll ;
    }
    
    #top .hr.hr-invisible.av-3ddej-b17e326d6bd9b5605e5b880d4265372f{
    height:400px;
    }
    
    .flex_column.av-2ocv3-24b45d5272ecc9c9263513ed13389c29{
    border-radius:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    }
    
    #top .av-special-heading.av-lo8b8gia-1d3fcccfe5e9af1de1e57e7090bbde7e{
    padding-bottom:10px;
    font-size:28px;
    }
    body .av-special-heading.av-lo8b8gia-1d3fcccfe5e9af1de1e57e7090bbde7e .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo8b8gia-1d3fcccfe5e9af1de1e57e7090bbde7e .av-special-heading-tag{
    font-size:28px;
    }
    .av-special-heading.av-lo8b8gia-1d3fcccfe5e9af1de1e57e7090bbde7e .av-subheading{
    font-size:15px;
    }
    
    #top .hr.hr-invisible.av-lo8bnomm-422659b073fcb058967bdaa3692019c0{
    height:20px;
    }
    
    .flex_column.av-2b5bn-684f37702dea8f269f474079cece4fff{
    border-radius:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    }
    
    #top .av-special-heading.av-lo8bixjs-4bafc46d9f746812929b1d2715b00e72{
    padding-bottom:10px;
    font-size:28px;
    }
    body .av-special-heading.av-lo8bixjs-4bafc46d9f746812929b1d2715b00e72 .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo8bixjs-4bafc46d9f746812929b1d2715b00e72 .av-special-heading-tag{
    font-size:28px;
    }
    .av-special-heading.av-lo8bixjs-4bafc46d9f746812929b1d2715b00e72 .av-subheading{
    font-size:15px;
    }
    
    #top .hr.hr-invisible.av-1chsj-f74164b8b93368098721d19d47464401{
    height:50px;
    }
    
    #top .hr.hr-invisible.av-12kgn-4e0755b64a99f6346950dccf7c25a976{
    margin-top:-40px;
    height:1px;
    }
    
    
    @media only screen and (min-width: 768px) and (max-width: 989px){ 
    #top #wrap_all .av-special-heading.av-lo89y80j-c9fff2a97ab27576cc68e0c37bb6abc9 .av-special-heading-tag{
    font-size:50px;
    }
    }
    
    @media only screen and (min-width: 480px) and (max-width: 767px){ 
    #top #wrap_all .av-special-heading.av-lo89y80j-c9fff2a97ab27576cc68e0c37bb6abc9 .av-special-heading-tag{
    font-size:35px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8a1mcx-a40dd1acd3e92306f4b7acbce09785f9 .av-special-heading-tag{
    font-size:0.8em;
    }
    
    #top #wrap_all .av-special-heading.av-lo8ct7gs-c9a060198aeed982be2dcd68a2f452c8 .av-special-heading-tag{
    font-size:0.8em;
    }
    
    #top #wrap_all .av-special-heading.av-lo8abb25-6a36bd3841b4c2c4b0e36902fd370aa8 .av-special-heading-tag{
    font-size:0.8em;
    }
    
    #top #wrap_all .av-special-heading.av-lo8b73gg-0fa827235485bf8e9ab24347beb6975d .av-special-heading-tag{
    font-size:0.8em;
    }
    
    #top #wrap_all .av-special-heading.av-lo8b7ucg-be9528ee4206c1fb8fbe7a46fb612e45 .av-special-heading-tag{
    font-size:0.8em;
    }
    
    #top #wrap_all .av-special-heading.av-lo8b8gia-1d3fcccfe5e9af1de1e57e7090bbde7e .av-special-heading-tag{
    font-size:0.8em;
    }
    
    #top #wrap_all .av-special-heading.av-lo8bixjs-4bafc46d9f746812929b1d2715b00e72 .av-special-heading-tag{
    font-size:0.8em;
    }
    }
    
    @media only screen and (max-width: 479px){ 
    #top #wrap_all .av-special-heading.av-lo89y80j-c9fff2a97ab27576cc68e0c37bb6abc9 .av-special-heading-tag{
    font-size:40px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8a1mcx-a40dd1acd3e92306f4b7acbce09785f9 .av-special-heading-tag{
    font-size:25px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8ct7gs-c9a060198aeed982be2dcd68a2f452c8 .av-special-heading-tag{
    font-size:25px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8abb25-6a36bd3841b4c2c4b0e36902fd370aa8 .av-special-heading-tag{
    font-size:25px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8b73gg-0fa827235485bf8e9ab24347beb6975d .av-special-heading-tag{
    font-size:25px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8b7ucg-be9528ee4206c1fb8fbe7a46fb612e45 .av-special-heading-tag{
    font-size:25px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8b8gia-1d3fcccfe5e9af1de1e57e7090bbde7e .av-special-heading-tag{
    font-size:25px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8bixjs-4bafc46d9f746812929b1d2715b00e72 .av-special-heading-tag{
    font-size:25px;
    }
    }
    