.avia-section.av-lo8d2hm3-618e4a551e44d344a602c11fa922cb94{
    background-color:#000000;
    background-image:url('./hair1.jpg');
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-attachment:scroll;
    }
    .avia-section.av-lo8d2hm3-618e4a551e44d344a602c11fa922cb94 .av-section-color-overlay{
    opacity:0.5;
    background-color:#2b2b2b;
    }
    
    #top .hr.hr-invisible.av-c86zl-123e77a7d42324ca95f25b3bf633b5ab{
    height:150px;
    }
    
    #top .av-special-heading.av-lo8d1you-2acf68ecc7e30b7615094186d9326de8{
    padding-bottom:0;
    color:#ffffff;
    font-size:70px;
    }
    body .av-special-heading.av-lo8d1you-2acf68ecc7e30b7615094186d9326de8 .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo8d1you-2acf68ecc7e30b7615094186d9326de8 .av-special-heading-tag{
    font-size:70px;
    }
    .av-special-heading.av-lo8d1you-2acf68ecc7e30b7615094186d9326de8 .special-heading-inner-border{
    border-color:#ffffff;
    }
    .av-special-heading.av-lo8d1you-2acf68ecc7e30b7615094186d9326de8 .av-subheading{
    font-size:22px;
    }
    
    #top .hr.hr-invisible.av-390edd-adbdb4fa7d510a4032a6318ac8bf5768{
    height:15px;
    }
    
    #top #wrap_all .avia-button.av-2uvzwh-4399b469257b44a79e5f79e74ace8e8d{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    #top #wrap_all .avia-button.av-2sczo1-96fb126d6eee4d0df78c50c7d9a8fe42{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    #top #wrap_all .avia-button.av-2egv1d-55382888157e1bcb24c2e6dbc10f56f8{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    #top #wrap_all .avia-button.av-2a0plt-13f3dd432bc059a7b959b4bcfb916758{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    #top .hr.hr-invisible.av-21qqr5-d33da6efa82738de8089818db5647a94{
    height:150px;
    }
    
    .avia-section.av-1z0k15-e59e0329bab089fa12ef21fe914dcd0f{
    background-color:#fcf5f8;
    background-image:unset;
    }
    
    #top .hr.hr-invisible.av-1r1xcx-29025622f289240d3e325fd6f7856141{
    height:50px;
    }
    
    #top .hr.hr-invisible.av-1mqdtl-a5773d5f9b01d41010516a7cf1d80897{
    margin-top:-50px;
    height:1px;
    }
    
    .flex_column.av-1e0vk1-a9eb4a4e9da27600d99be0160d7ec6e3{
    border-radius:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    }
    
    #top .av-special-heading.av-lo8d2tmx-14aa4d4efcb855516ede38c730346528{
    padding-bottom:10px;
    font-size:28px;
    }
    body .av-special-heading.av-lo8d2tmx-14aa4d4efcb855516ede38c730346528 .av-special-heading-tag .heading-char{
    font-size:25px;
    }
    #top #wrap_all .av-special-heading.av-lo8d2tmx-14aa4d4efcb855516ede38c730346528 .av-special-heading-tag{
    font-size:28px;
    }
    .av-special-heading.av-lo8d2tmx-14aa4d4efcb855516ede38c730346528 .av-subheading{
    font-size:15px;
    }
    
    #top #wrap_all .avia-button.av-3yz55-aa00de25bddb2592e58884d9ffd5b40d{
    margin-bottom:5px;
    margin-right:5px;
    }
    
    .flex_column.av-xka81-dcd0e9d226c02847de6410c94931a86f{
    border-radius:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    }
    
    @keyframes av_boxShadowEffect_av-lo8d4nuk-0e0fa49c493f37107f6af3037c4042f7 {
    0%   { box-shadow:  0 0 0 0 ; opacity: 1; }
    100% { box-shadow:  0 0 10px 0 ; opacity: 1; }
    }
    .avia-image-container.av-lo8d4nuk-0e0fa49c493f37107f6af3037c4042f7 img.avia_image{
    box-shadow: 0 0 10px 0 ;
    }
    .avia-image-container.av-lo8d4nuk-0e0fa49c493f37107f6af3037c4042f7 .av-image-caption-overlay-center{
    color:#ffffff;
    }
    
    #top .hr.hr-invisible.av-2tsw1-5b69e8e11dbf83cb9ba22b3ec363b0df{
    height:50px;
    }
    
    
    @media only screen and (min-width: 768px) and (max-width: 989px){ 
    #top #wrap_all .av-special-heading.av-lo8d1you-2acf68ecc7e30b7615094186d9326de8 .av-special-heading-tag{
    font-size:50px;
    }
    }
    
    @media only screen and (min-width: 480px) and (max-width: 767px){ 
    #top #wrap_all .av-special-heading.av-lo8d1you-2acf68ecc7e30b7615094186d9326de8 .av-special-heading-tag{
    font-size:35px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8d2tmx-14aa4d4efcb855516ede38c730346528 .av-special-heading-tag{
    font-size:0.8em;
    }
    }
    
    @media only screen and (max-width: 479px){ 
    #top #wrap_all .av-special-heading.av-lo8d1you-2acf68ecc7e30b7615094186d9326de8 .av-special-heading-tag{
    font-size:40px;
    }
    
    #top #wrap_all .av-special-heading.av-lo8d2tmx-14aa4d4efcb855516ede38c730346528 .av-special-heading-tag{
    font-size:25px;
    }
    }
    